@charset "utf-8";
@import "./public.css";
.wrap .uls {
  height: 0.86rem;
  padding: 0.44rem 0.24rem 0;
  align-items: center;
  justify-content: space-between;
  background-color: #f26b11;
  display: flex;
}
.wrap .uls .jiantou img {
  width: 0.51rem;
  height: 0.42rem;
}
.wrap .uls li span {
  font-size: 0.34rem;
  color: white;
}
.wrap .uls .shop {
  width: 0.56rem;
  height: 0.11rem;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
.wrap .uls .shop span {
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background-color: white;
}
.wrap .content {
  height: 1.5rem;
  background-color: #fff;
}
.wrap .content .nr1 {
  width: 6.7rem;
  height: 1.5rem;
}
.wrap .content .nr1 .nr2 {
  width: 6.7rem;
  height: 0.72rem;
}
.wrap .content .nr1 .nr2 p {
  display: block;
  padding: 0.3rem;
  font-size: 0.23rem;
  color: #5f5f5f;
}
.wrap .content .nr1 .nr3 {
  height: 0.52rem;
  padding-left: 0.3rem;
  width: 6.7rem;
}
.wrap .content .nr1 .nr3 .divs {
  font-size: 0.23rem;
  color: #595959;
  line-height: 0.3rem;
}
.wrap .content .nr1 .nr3 .spans2 {
  display: inline-block;
  width: 5.32rem;
  line-height: 0.3rem;
  font-size: 0.23rem;
  padding-left: 0.1rem;
  color: #595959;
}
.wrap .content .jt {
  width: 0.8rem;
  height: 1.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .content .jt img {
  width: 0.19rem;
  height: 0.26rem;
}
.wrap .banner {
  height: 3.6rem;
  background-color: #fff;
  margin-top: 0.12rem;
}
.wrap .banner .banner2 {
  width: 7.02rem;
  height: 2.65rem;
  border-bottom: 0.01rem solid #b5b5b5;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.wrap .banner .banner2 .banner3 img {
  margin-top: 0.21rem;
  width: 1.1rem;
  height: 1.2rem;
}
.wrap .banner .banner2 .banner3 .mz {
  display: inline-block;
  height: 1.2rem;
  margin-left: 0.25rem;
  margin-top: 0.2rem;
}
.wrap .banner .banner2 .banner3 .mz span {
  font-size: 0.23rem;
  margin: 0.25rem 0;
  display: block;
  color: #6a6a6a;
}
.wrap .banner .banner2 .banner3 .mz p {
  font-size: 0.26rem;
  color: #b8b8b8;
}
.wrap .banner .banner2 .banner3 .sl {
  margin-top: 0.53rem;
  color: #666;
  font-size: 0.25rem;
}
.wrap .banner .banner2 .banner4 .banner5 {
  color: #e43941;
  font-size: 0.29rem;
  height: 1.2rem;
  margin-top: 0.2rem;
  line-height: 1.2rem;
  text-align: center;
}
.wrap .banner .banner2 .banner4 .banner6 {
  width: 0.74rem;
  height: 0.64rem;
  border: 0.01rem solid #515151;
  display: inline-block;
  text-align: center;
  line-height: 0.64rem;
  font-size: 0.22rem;
  border-radius: 0.05rem;
  margin-top: 0.3rem;
}
.wrap .banner .banner2 .banner4 .banner7 {
  width: 1.17rem;
  height: 0.64rem;
  border: 0.01rem solid #515151;
  display: inline-block;
  text-align: center;
  line-height: 0.64rem;
  font-size: 0.22rem;
  margin-top: 0.3rem;
  border-radius: 0.05rem;
}
.wrap .banner .banner8 {
  height: 0.96rem;
  display: flex;
  justify-content: space-between;
}
.wrap .banner .banner8 .z {
  line-height: 0.96rem;
  font-size: 0.24rem;
  color: #5a5a5a;
  padding-left: 0.27rem;
}
.wrap .banner .banner8 .y {
  line-height: 0.96rem;
  font-size: 0.24rem;
  color: #5a5a5a;
  padding-right: 0.27rem;
}
.wrap .yh {
  height: 2.05rem;
  background-color: white;
  margin-top: 0.12rem;
}
.wrap .yh .yh2 {
  display: flex;
  justify-content: space-between;
  height: 1rem;
  border-bottom: 0.01rem solid #b5b5b5;
}
.wrap .yh .yh2 .z {
  line-height: 1rem;
  font-size: 0.24rem;
  color: #5a5a5a;
  padding-left: 0.27rem;
}
.wrap .yh .yh2 .y {
  line-height: 1rem;
  font-size: 0.24rem;
  color: #5a5a5a;
  padding-right: 0.27rem;
}
.wrap .yh .yh3 {
  display: flex;
  justify-content: space-between;
  height: 1rem;
}
.wrap .yh .yh3 .z {
  line-height: 1rem;
  font-size: 0.24rem;
  color: #5a5a5a;
  padding-left: 0.27rem;
}
.wrap .yh .yh3 .y {
  line-height: 1rem;
  font-size: 0.25rem;
  padding-right: 0.27rem;
}
.wrap .yh .yh3 .y input {
  width: 1.5rem;
  height: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  color: #d5d5d5;
  border: 0.01rem solid #d9d9d9;
}
.wrap .yh .yh3 .y .sy {
  width: 0.73rem;
  height: 0.73rem;
  display: inline-block;
  background-color: #f26b11;
  border-radius: 0.05rem;
  font-size: 0.25rem;
  color: white;
  text-align: center;
  line-height: 0.73rem;
}
.wrap .yh .yh3 .y span {
  display: inline-block;
  color: #b5b5b5;
}
.wrap .yh .yh3 .y span i {
  color: red;
}
.wrap .je {
  height: 2.6rem;
  background-color: #FFF;
  margin-top: 0.1rem;
  overflow: hidden;
}
.wrap .je .je2 {
  width: 7.03rem;
  height: 2.6rem;
  margin: 0 auto;
}
.wrap .je .je2 .je3 {
  width: 7.03rem;
  height: 2.4rem;
  margin-top: 0.15rem;
  overflow: hidden;
}
.wrap .je .je2 .je3 .je4 {
  font-size: 0.22rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.15rem;
}
.wrap .je .je2 .je3 .je4 .z {
  color: #636363;
}
.wrap .je .je2 .je3 .je4 .y {
  color: red;
}
.wrap .tj {
  height: 2.6rem;
  background-color: #fff;
}
.wrap .tj .tj2 {
  border-top: 0.01rem solid #b5b5b5;
  width: 7.03rem;
  height: 1.2rem;
  margin: 0 auto;
}
.wrap .tj .tj2 span {
  font-size: 0.3rem;
  color: #dd3528;
  line-height: 1.2rem;
}
.wrap .tj .tj2 .tj3 {
  font-size: 0.32rem;
  color: #696969;
  line-height: 1.2rem;
}
.wrap .tj .tj4 {
  width: 3.55rem;
  height: 1.12rem;
  background-color: #f26b11;
  color: white;
  font-size: 0.3rem;
  line-height: 1.12rem;
  text-align: center;
  margin-left: 1.93rem;
}
